# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [72]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import *

## Data Importing

In [73]:
test_dir = '../data/AK_Juneau_0.json'
os.path.exists(test_dir)

True

In [74]:
# load one file first to see what type of data you're dealing with and what attributes it has
with open(test_dir) as f:
    data_json = json.load(f)

In [75]:
data_json['data'].keys()

dict_keys(['total', 'count', 'results'])

In [76]:
test_df = pd.json_normalize(data_json['data']['results'])
test_df.head(1)

,last_update_date,tags,permalink,status,list_date,open_houses,branding,list_price,property_id,photos,...,location.address.state_code,location.address.line,location.street_view_url,location.county.fips_code,location.county.name,primary_photo,source,products,location.address.coordinate,other_listings
0,2023-09-19T20:52:50Z,"[carport, community_outdoor_space, cul_de_sac,...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,2023-06-29T21:16:25.000000Z,None,"[{'name': 'EXP Realty LLC - Southeast Alaska',...",554950.0,9074430767,"[{'tags': [{'label': 'house_view', 'probabilit...",...,AK,9453 Herbert Pl,https://maps.googleapis.com/maps/api/streetvie...,None,Juneau,NaN,NaN,NaN,NaN,NaN

In [77]:
# Getting an overview of the data before combining all the files into one dataframe. This is a custom function in `functions_variables.py` --- It takes in a directory path.
overview = json_files_summary('../data')

Error processing file .gitkeep: Expecting value: line 1 column 1 (char 0)
AK_Juneau_0.json processed. 1/251 files processed.
AK_Juneau_1.json processed. 2/251 files processed.
AK_Juneau_2.json processed. 3/251 files processed.
AK_Juneau_3.json processed. 4/251 files processed.
AK_Juneau_4.json processed. 5/251 files processed.
AL_Montgomery_0.json processed. 6/251 files processed.
AL_Montgomery_1.json processed. 7/251 files processed.
AL_Montgomery_2.json processed. 8/251 files processed.
AL_Montgomery_3.json processed. 9/251 files processed.
AL_Montgomery_4.json processed. 10/251 files processed.
AR_LittleRock_0.json processed. 11/251 files processed.
AR_LittleRock_1.json processed. 12/251 files processed.
AR_LittleRock_2.json processed. 13/251 files processed.
AR_LittleRock_3.json processed. 14/251 files processed.
AR_LittleRock_4.json processed. 15/251 files processed.
AZ_Phoenix_0.json processed. 16/251 files processed.
AZ_Phoenix_1.json processed. 17/251 files processed.
AZ_Phoenix_2.json processed. 18/251 files processed.
AZ_Phoenix_3.json processed. 19/251 files processed.
AZ_Phoenix_4.json processed. 20/251 files processed.
CA_Sacramento_0.json processed. 21/251 files processed.
CA_Sacramento_1.json processed. 22/251 files processed.
CA_Sacramento_2.json processed. 23/251 files processed.
CA_Sacramento_3.json processed. 24/251 files processed.
CA_Sacramento_4.json processed. 25/251 files processed.
CO_Denver_0.json processed. 26/251 files processed.
CO_Denver_1.json processed. 27/251 files processed.
CO_Denver_2.json processed. 28/251 files processed.
CO_Denver_3.json processed. 29/251 files processed.
CO_Denver_4.json processed. 30/251 files processed.
CT_Hartford_0.json processed. 31/251 files processed.
CT_Hartford_1.json processed. 32/251 files processed.
CT_Hartford_2.json processed. 33/251 files processed.
CT_Hartford_3.json processed. 34/251 files processed.
CT_Hartford_4.json processed. 35/251 files processed.
DE_Dover_0.json processed. 36/251 files processed.
DE_Dover_1.json processed. 37/251 files processed.
DE_Dover_2.json processed. 38/251 files processed.
DE_Dover_3.json processed. 39/251 files processed.
DE_Dover_4.json processed. 40/251 files processed.
FL_Tallahassee_0.json processed. 41/251 files processed.
FL_Tallahassee_1.json processed. 42/251 files processed.
FL_Tallahassee_2.json processed. 43/251 files processed.
FL_Tallahassee_3.json processed. 44/251 files processed.
FL_Tallahassee_4.json processed. 45/251 files processed.
GA_Atlanta_0.json processed. 46/251 files processed.
GA_Atlanta_1.json processed. 47/251 files processed.
GA_Atlanta_2.json processed. 48/251 files processed.
GA_Atlanta_3.json processed. 49/251 files processed.
GA_Atlanta_4.json processed. 50/251 files processed.
HI_Honolulu_0.json processed. 51/251 files processed.
HI_Honolulu_1.json processed. 52/251 files processed.
HI_Honolulu_2.json processed. 53/251 files processed.
HI_Honolulu_3.json processed. 54/251 files processed.
HI_Honolulu_4.json processed. 55/251 files processed.
IA_DesMoines_0.json processed. 56/251 files processed.
IA_DesMoines_1.json processed. 57/251 files processed.
IA_DesMoines_2.json processed. 58/251 files processed.
IA_DesMoines_3.json processed. 59/251 files processed.
IA_DesMoines_4.json processed. 60/251 files processed.
ID_Boise_0.json processed. 61/251 files processed.
ID_Boise_1.json processed. 62/251 files processed.
ID_Boise_2.json processed. 63/251 files processed.
ID_Boise_3.json processed. 64/251 files processed.
ID_Boise_4.json processed. 65/251 files processed.
IL_Springfield_0.json processed. 66/251 files processed.
IL_Springfield_1.json processed. 67/251 files processed.
IL_Springfield_2.json processed. 68/251 files processed.
IL_Springfield_3.json processed. 69/251 files processed.
IL_Springfield_4.json processed. 70/251 files processed.
IN_Indianapolis_0.json processed. 71/251 files processed.
IN_Indianapolis_1.json processed. 72/251 files processed.
IN_Indianapolis_2.json processed. 73/251 files processed.
IN_Indianapolis_3.json processed. 74/251 files processed.
IN_Indianapolis_4.json processed. 75/251 files processed.
KS_Topeka_0.json processed. 76/251 files processed.
KS_Topeka_1.json processed. 77/251 files processed.
KS_Topeka_2.json processed. 78/251 files processed.
KS_Topeka_3.json processed. 79/251 files processed.
KS_Topeka_4.json processed. 80/251 files processed.
KY_Frankfort_0.json processed. 81/251 files processed.
KY_Frankfort_1.json processed. 82/251 files processed.
KY_Frankfort_2.json processed. 83/251 files processed.
KY_Frankfort_3.json processed. 84/251 files processed.
KY_Frankfort_4.json processed. 85/251 files processed.
LA_BatonRouge_0.json processed. 86/251 files processed.
LA_BatonRouge_1.json processed. 87/251 files processed.
LA_BatonRouge_2.json processed. 88/251 files processed.
LA_BatonRouge_3.json processed. 89/251 files processed.
LA_BatonRouge_4.json processed. 90/251 files processed.
MA_Boston_0.json processed. 91/251 files processed.
MA_Boston_1.json processed. 92/251 files processed.
MA_Boston_2.json processed. 93/251 files processed.
MA_Boston_3.json processed. 94/251 files processed.
MA_Boston_4.json processed. 95/251 files processed.
MD_Annapolis_0.json processed. 96/251 files processed.
MD_Annapolis_1.json processed. 97/251 files processed.
MD_Annapolis_2.json processed. 98/251 files processed.
MD_Annapolis_3.json processed. 99/251 files processed.
MD_Annapolis_4.json processed. 100/251 files processed.
ME_Augusta_0.json processed. 101/251 files processed.
ME_Augusta_1.json processed. 102/251 files processed.
ME_Augusta_2.json processed. 103/251 files processed.
ME_Augusta_3.json processed. 104/251 files processed.
ME_Augusta_4.json processed. 105/251 files processed.
MI_Lansing_0.json processed. 106/251 files processed.
MI_Lansing_1.json processed. 107/251 files processed.
MI_Lansing_2.json processed. 108/251 files processed.
MI_Lansing_3.json processed. 109/251 files processed.
MI_Lansing_4.json processed. 110/251 files processed.
MN_St.Paul_0.json processed. 111/251 files processed.
MN_St.Paul_1.json processed. 112/251 files processed.
MN_St.Paul_2.json processed. 113/251 files processed.
MN_St.Paul_3.json processed. 114/251 files processed.
MN_St.Paul_4.json processed. 115/251 files processed.
MO_JeffersonCity_0.json processed. 116/251 files processed.
MO_JeffersonCity_1.json processed. 117/251 files processed.
MO_JeffersonCity_2.json processed. 118/251 files processed.
MO_JeffersonCity_3.json processed. 119/251 files processed.
MO_JeffersonCity_4.json processed. 120/251 files processed.
MS_Jackson_0.json processed. 121/251 files processed.
MS_Jackson_1.json processed. 122/251 files processed.
MS_Jackson_2.json processed. 123/251 files processed.
MS_Jackson_3.json processed. 124/251 files processed.
MS_Jackson_4.json processed. 125/251 files processed.
MT_Helena_0.json processed. 126/251 files processed.
MT_Helena_1.json processed. 127/251 files processed.
MT_Helena_2.json processed. 128/251 files processed.
MT_Helena_3.json processed. 129/251 files processed.
MT_Helena_4.json processed. 130/251 files processed.
NC_Raleigh_0.json processed. 131/251 files processed.
NC_Raleigh_1.json processed. 132/251 files processed.
NC_Raleigh_2.json processed. 133/251 files processed.
NC_Raleigh_3.json processed. 134/251 files processed.
NC_Raleigh_4.json processed. 135/251 files processed.
ND_Bismarck_0.json processed. 136/251 files processed.
ND_Bismarck_1.json processed. 137/251 files processed.
ND_Bismarck_2.json processed. 138/251 files processed.
ND_Bismarck_3.json processed. 139/251 files processed.
ND_Bismarck_4.json processed. 140/251 files processed.
NE_Lincoln_0.json processed. 141/251 files processed.
NE_Lincoln_1.json processed. 142/251 files processed.
NE_Lincoln_2.json processed. 143/251 files processed.
NE_Lincoln_3.json processed. 144/251 files processed.
NE_Lincoln_4.json processed. 145/251 files processed.
NH_Concord_0.json processed. 146/251 files processed.
NH_Concord_1.json processed. 147/251 files processed.
NH_Concord_2.json processed. 148/251 files processed.
NH_Concord_3.json processed. 149/251 files processed.
NH_Concord_4.json processed. 150/251 files processed.
NJ_Trenton_0.json processed. 151/251 files processed.
NJ_Trenton_1.json processed. 152/251 files processed.
NJ_Trenton_2.json processed. 153/251 files processed.
NJ_Trenton_3.json processed. 154/251 files processed.
NJ_Trenton_4.json processed. 155/251 files processed.
NM_SantaFe_0.json processed. 156/251 files processed.
NM_SantaFe_1.json processed. 157/251 files processed.
NM_SantaFe_2.json processed. 158/251 files processed.
NM_SantaFe_3.json processed. 159/251 files processed.
NM_SantaFe_4.json processed. 160/251 files processed.
NV_CarsonCity_0.json processed. 161/251 files processed.
NV_CarsonCity_1.json processed. 162/251 files processed.
NV_CarsonCity_2.json processed. 163/251 files processed.
NV_CarsonCity_3.json processed. 164/251 files processed.
NV_CarsonCity_4.json processed. 165/251 files processed.
NY_Albany_0.json processed. 166/251 files processed.
NY_Albany_1.json processed. 167/251 files processed.
NY_Albany_2.json processed. 168/251 files processed.
NY_Albany_3.json processed. 169/251 files processed.
NY_Albany_4.json processed. 170/251 files processed.
OH_Columbus_0.json processed. 171/251 files processed.
OH_Columbus_1.json processed. 172/251 files processed.
OH_Columbus_2.json processed. 173/251 files processed.
OH_Columbus_3.json processed. 174/251 files processed.
OH_Columbus_4.json processed. 175/251 files processed.
OK_OklahomaCity_0.json processed. 176/251 files processed.
OK_OklahomaCity_1.json processed. 177/251 files processed.
OK_OklahomaCity_2.json processed. 178/251 files processed.
OK_OklahomaCity_3.json processed. 179/251 files processed.
OK_OklahomaCity_4.json processed. 180/251 files processed.
OR_Salem_0.json processed. 181/251 files processed.
OR_Salem_1.json processed. 182/251 files processed.
OR_Salem_2.json processed. 183/251 files processed.
OR_Salem_3.json processed. 184/251 files processed.
OR_Salem_4.json processed. 185/251 files processed.
PA_Harrisburg_0.json processed. 186/251 files processed.
PA_Harrisburg_1.json processed. 187/251 files processed.
PA_Harrisburg_2.json processed. 188/251 files processed.
PA_Harrisburg_3.json processed. 189/251 files processed.
PA_Harrisburg_4.json processed. 190/251 files processed.
RI_Providence_0.json processed. 191/251 files processed.
RI_Providence_1.json processed. 192/251 files processed.
RI_Providence_2.json processed. 193/251 files processed.
RI_Providence_3.json processed. 194/251 files processed.
RI_Providence_4.json processed. 195/251 files processed.
SC_Columbia_0.json processed. 196/251 files processed.
SC_Columbia_1.json processed. 197/251 files processed.
SC_Columbia_2.json processed. 198/251 files processed.
SC_Columbia_3.json processed. 199/251 files processed.
SC_Columbia_4.json processed. 200/251 files processed.
SD_Pierre_0.json processed. 201/251 files processed.
SD_Pierre_1.json processed. 202/251 files processed.
SD_Pierre_2.json processed. 203/251 files processed.
SD_Pierre_3.json processed. 204/251 files processed.
SD_Pierre_4.json processed. 205/251 files processed.
TN_Nashville_0.json processed. 206/251 files processed.
TN_Nashville_1.json processed. 207/251 files processed.
TN_Nashville_2.json processed. 208/251 files processed.
TN_Nashville_3.json processed. 209/251 files processed.
TN_Nashville_4.json processed. 210/251 files processed.
TX_Austin_0.json processed. 211/251 files processed.
TX_Austin_1.json processed. 212/251 files processed.
TX_Austin_2.json processed. 213/251 files processed.
TX_Austin_3.json processed. 214/251 files processed.
TX_Austin_4.json processed. 215/251 files processed.
UT_SaltLakeCity_0.json processed. 216/251 files processed.
UT_SaltLakeCity_1.json processed. 217/251 files processed.
UT_SaltLakeCity_2.json processed. 218/251 files processed.
UT_SaltLakeCity_3.json processed. 219/251 files processed.
UT_SaltLakeCity_4.json processed. 220/251 files processed.
VA_Richmond_0.json processed. 221/251 files processed.
VA_Richmond_1.json processed. 222/251 files processed.
VA_Richmond_2.json processed. 223/251 files processed.
VA_Richmond_3.json processed. 224/251 files processed.
VA_Richmond_4.json processed. 225/251 files processed.
VT_Montpelier_0.json processed. 226/251 files processed.
VT_Montpelier_1.json processed. 227/251 files processed.
VT_Montpelier_2.json processed. 228/251 files processed.
VT_Montpelier_3.json processed. 229/251 files processed.
VT_Montpelier_4.json processed. 230/251 files processed.
WA_Olympia_0.json processed. 231/251 files processed.
WA_Olympia_1.json processed. 232/251 files processed.
WA_Olympia_2.json processed. 233/251 files processed.
WA_Olympia_3.json processed. 234/251 files processed.
WA_Olympia_4.json processed. 235/251 files processed.
WI_Madison_0.json processed. 236/251 files processed.
WI_Madison_1.json processed. 237/251 files processed.
WI_Madison_2.json processed. 238/251 files processed.
WI_Madison_3.json processed. 239/251 files processed.
WI_Madison_4.json processed. 240/251 files processed.
WV_Charleston_0.json processed. 241/251 files processed.
WV_Charleston_1.json processed. 242/251 files processed.
WV_Charleston_2.json processed. 243/251 files processed.
WV_Charleston_3.json processed. 244/251 files processed.
WV_Charleston_4.json processed. 245/251 files processed.
WY_Cheyenne_0.json processed. 246/251 files processed.
WY_Cheyenne_1.json processed. 247/251 files processed.
WY_Cheyenne_2.json processed. 248/251 files processed.
WY_Cheyenne_3.json processed. 249/251 files processed.
WY_Cheyenne_4.json processed. 250/251 files processed.

Process complete.

In [78]:
overview
# After reviewing the data with Data Wrangler, I found that some files may be missing the 'results' key, or it is empty.

,file_name,file_path,rows_count,cols_count,cols_name
0,AK_Juneau_0.json,../data\AK_Juneau_0.json,8,64,"[last_update_date, tags, permalink, status, li..."
1,AK_Juneau_1.json,../data\AK_Juneau_1.json,7,63,"[primary_photo, last_update_date, source, tags..."
2,AK_Juneau_2.json,../data\AK_Juneau_2.json,6,63,"[primary_photo, last_update_date, source, tags..."
3,AK_Juneau_3.json,../data\AK_Juneau_3.json,5,63,"[primary_photo, last_update_date, source, tags..."
4,AK_Juneau_4.json,../data\AK_Juneau_4.json,4,63,"[primary_photo, last_update_date, source, tags..."
...,...,...,...,...,...
245,WY_Cheyenne_0.json,../data\WY_Cheyenne_0.json,1,0,[]
246,WY_Cheyenne_1.json,../data\WY_Cheyenne_1.json,1,0,[]
247,WY_Cheyenne_2.json,../data\WY_Cheyenne_2.json,1,0,[]
248,WY_Cheyenne_3.json,../data\WY_Cheyenne_3.json,1,0,[]
249,WY_Cheyenne_4.json,../data\WY_Cheyenne_4.json,1,0,[]

In [79]:
overview.shape

(250, 5)

#### - Comparing, Checking files

In [80]:
# 226 -- just chose one of the files that has an empty 'results' key
weird_file_path = overview.iloc[226]['file_path']

with open(weird_file_path) as f:
  weird_file = json.load(f)

weird_file['data'].keys()

dict_keys(['total', 'count', 'results'])

In [81]:
len(weird_file['data']['results']), len(data_json['data']['results']) # Weird vs Normal File

(0, 8)

In [82]:
weird_files = overview[overview['cols_count'] == 0]

weird_files

,file_name,file_path,rows_count,cols_count,cols_name
53,HI_Honolulu_3.json,../data\HI_Honolulu_3.json,1,0,[]
54,HI_Honolulu_4.json,../data\HI_Honolulu_4.json,1,0,[]
100,ME_Augusta_0.json,../data\ME_Augusta_0.json,1,0,[]
101,ME_Augusta_1.json,../data\ME_Augusta_1.json,1,0,[]
102,ME_Augusta_2.json,../data\ME_Augusta_2.json,1,0,[]
103,ME_Augusta_3.json,../data\ME_Augusta_3.json,1,0,[]
104,ME_Augusta_4.json,../data\ME_Augusta_4.json,1,0,[]
120,MS_Jackson_0.json,../data\MS_Jackson_0.json,1,0,[]
121,MS_Jackson_1.json,../data\MS_Jackson_1.json,1,0,[]
122,MS_Jackson_2.json,../data\MS_Jackson_2.json,1,0,[]
123,MS_Jackson_3.json,../data\MS_Jackson_3.json,1,0,[]
124,MS_Jackson_4.json,../data\MS_Jackson_4.json,1,0,[]
137,ND_Bismarck_2.json,../data\ND_Bismarck_2.json,1,0,[]
138,ND_Bismarck_3.json,../data\ND_Bismarck_3.json,1,0,[]
139,ND_Bismarck_4.json,../data\ND_Bismarck_4.json,1,0,[]
148,NH_Concord_3.json,../data\NH_Concord_3.json,1,0,[]
149,NH_Concord_4.json,../data\NH_Concord_4.json,1,0,[]
200,SD_Pierre_0.json,../data\SD_Pierre_0.json,1,0,[]
201,SD_Pierre_1.json,../data\SD_Pierre_1.json,1,0,[]
202,SD_Pierre_2.json,../data\SD_Pierre_2.json,1,0,[]
203,SD_Pierre_3.json,../data\SD_Pierre_3.json,1,0,[]
204,SD_Pierre_4.json,../data\SD_Pierre_4.json,1,0,[]
225,VT_Montpelier_0.json,../data\VT_Montpelier_0.json,1,0,[]
226,VT_Montpelier_1.json,../data\VT_Montpelier_1.json,1,0,[]
227,VT_Montpelier_2.json,../data\VT_Montpelier_2.json,1,0,[]
228,VT_Montpelier_3.json,../data\VT_Montpelier_3.json,1,0,[]
229,VT_Montpelier_4.json,../data\VT_Montpelier_4.json,1,0,[]
245,WY_Cheyenne_0.json,../data\WY_Cheyenne_0.json,1,0,[]
246,WY_Cheyenne_1.json,../data\WY_Cheyenne_1.json,1,0,[]
247,WY_Cheyenne_2.json,../data\WY_Cheyenne_2.json,1,0,[]
248,WY_Cheyenne_3.json,../data\WY_Cheyenne_3.json,1,0,[]
249,WY_Cheyenne_4.json,../data\WY_Cheyenne_4.json,1,0,[]

In [83]:
# Create a list of files with an empty 'results' key or has other problems
weird = []
extra_weird = []
  
for file in weird_files['file_path']:
  
  with open(file) as f:
    weird_file = json.load(f)
  
  if len(weird_file['data']['results']) == 0:
    print(f'{file} returns empty \'results\'')
    weird.append(file)
  
  else:
    print(f'{file} has another problem...')
    extra_weird.append(file)

../data\HI_Honolulu_3.json returns empty 'results'
../data\HI_Honolulu_4.json returns empty 'results'
../data\ME_Augusta_0.json returns empty 'results'
../data\ME_Augusta_1.json returns empty 'results'
../data\ME_Augusta_2.json returns empty 'results'
../data\ME_Augusta_3.json returns empty 'results'
../data\ME_Augusta_4.json returns empty 'results'
../data\MS_Jackson_0.json returns empty 'results'
../data\MS_Jackson_1.json returns empty 'results'
../data\MS_Jackson_2.json returns empty 'results'
../data\MS_Jackson_3.json returns empty 'results'
../data\MS_Jackson_4.json returns empty 'results'
../data\ND_Bismarck_2.json returns empty 'results'
../data\ND_Bismarck_3.json returns empty 'results'
../data\ND_Bismarck_4.json returns empty 'results'
../data\NH_Concord_3.json returns empty 'results'
../data\NH_Concord_4.json returns empty 'results'
../data\SD_Pierre_0.json returns empty 'results'
../data\SD_Pierre_1.json returns empty 'results'
../data\SD_Pierre_2.json returns empty 'results'
../data\SD_Pierre_3.json returns empty 'results'
../data\SD_Pierre_4.json returns empty 'results'
../data\VT_Montpelier_0.json returns empty 'results'
../data\VT_Montpelier_1.json returns empty 'results'
../data\VT_Montpelier_2.json returns empty 'results'
../data\VT_Montpelier_3.json returns empty 'results'
../data\VT_Montpelier_4.json returns empty 'results'
../data\WY_Cheyenne_0.json returns empty 'results'
../data\WY_Cheyenne_1.json returns empty 'results'
../data\WY_Cheyenne_2.json returns empty 'results'
../data\WY_Cheyenne_3.json returns empty 'results'
../data\WY_Cheyenne_4.json returns empty 'results'

In [84]:
print(f'\n{len(weird)} Weird Files...\n{weird}')
print(f'\n{len(extra_weird)} Extra Weird Files... {extra_weird}')

32 Weird Files...
['../data\\HI_Honolulu_3.json', '../data\\HI_Honolulu_4.json', '../data\\ME_Augusta_0.json', '../data\\ME_Augusta_1.json', '../data\\ME_Augusta_2.json', '../data\\ME_Augusta_3.json', '../data\\ME_Augusta_4.json', '../data\\MS_Jackson_0.json', '../data\\MS_Jackson_1.json', '../data\\MS_Jackson_2.json', '../data\\MS_Jackson_3.json', '../data\\MS_Jackson_4.json', '../data\\ND_Bismarck_2.json', '../data\\ND_Bismarck_3.json', '../data\\ND_Bismarck_4.json', '../data\\NH_Concord_3.json', '../data\\NH_Concord_4.json', '../data\\SD_Pierre_0.json', '../data\\SD_Pierre_1.json', '../data\\SD_Pierre_2.json', '../data\\SD_Pierre_3.json', '../data\\SD_Pierre_4.json', '../data\\VT_Montpelier_0.json', '../data\\VT_Montpelier_1.json', '../data\\VT_Montpelier_2.json', '../data\\VT_Montpelier_3.json', '../data\\VT_Montpelier_4.json', '../data\\WY_Cheyenne_0.json', '../data\\WY_Cheyenne_1.json', '../data\\WY_Cheyenne_2.json', '../data\\WY_Cheyenne_3.json', '../data\\WY_Cheyenne_4.json']

0 Extra Weird Files... []

In [85]:
# Safe to drop the weird files from the overview dataframe
drop = [i for i in weird_files.index]

overview.drop(drop, inplace=True) # Originally 250, 5

In [86]:
overview.shape

(218, 5)

In [87]:
overview # I will use the file_path column to load the data now.

,file_name,file_path,rows_count,cols_count,cols_name
0,AK_Juneau_0.json,../data\AK_Juneau_0.json,8,64,"[last_update_date, tags, permalink, status, li..."
1,AK_Juneau_1.json,../data\AK_Juneau_1.json,7,63,"[primary_photo, last_update_date, source, tags..."
2,AK_Juneau_2.json,../data\AK_Juneau_2.json,6,63,"[primary_photo, last_update_date, source, tags..."
3,AK_Juneau_3.json,../data\AK_Juneau_3.json,5,63,"[primary_photo, last_update_date, source, tags..."
4,AK_Juneau_4.json,../data\AK_Juneau_4.json,4,63,"[primary_photo, last_update_date, source, tags..."
...,...,...,...,...,...
240,WV_Charleston_0.json,../data\WV_Charleston_0.json,42,61,"[last_update_date, tags, permalink, status, li..."
241,WV_Charleston_1.json,../data\WV_Charleston_1.json,42,61,"[last_update_date, tags, permalink, status, li..."
242,WV_Charleston_2.json,../data\WV_Charleston_2.json,41,61,"[last_update_date, tags, permalink, status, li..."
243,WV_Charleston_3.json,../data\WV_Charleston_3.json,40,61,"[last_update_date, tags, permalink, status, li..."
244,WV_Charleston_4.json,../data\WV_Charleston_4.json,39,61,"[last_update_date, tags, permalink, status, li..."

#### - Resuming Data Import Procedures

In [88]:
# Testing the custom function `read_json` which takes a file path and returns a DataFrame
read_json(test_dir).head(2) # Works!

,last_update_date,tags,permalink,status,list_date,open_houses,branding,list_price,property_id,photos,...,location.address.state_code,location.address.line,location.street_view_url,location.county.fips_code,location.county.name,primary_photo,source,products,location.address.coordinate,other_listings
0,2023-09-19T20:52:50Z,"[carport, community_outdoor_space, cul_de_sac,...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,2023-06-29T21:16:25.000000Z,None,"[{'name': 'EXP Realty LLC - Southeast Alaska',...",554950.0,9074430767,"[{'tags': [{'label': 'house_view', 'probabilit...",...,AK,9453 Herbert Pl,https://maps.googleapis.com/maps/api/streetvie...,None,Juneau,NaN,NaN,NaN,NaN,NaN
1,None,None,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,sold,None,None,"[{'name': None, 'photo': None, 'type': 'Office'}]",NaN,9424983842,None,...,AK,8477 Thunder Mountain Rd,https://maps.googleapis.com/maps/api/streetvie...,None,Juneau,NaN,NaN,NaN,NaN,NaN

In [89]:
# loop over all files and put them into a dataframe
combine_all = []

for path in overview['file_path']:
  df = read_json(path)
  combine_all.append(df)
  print(f'{path} added to the list. {len(combine_all)}/{overview.shape[0]} processed...')

print(f'\n{len(combine_all)} files loaded into the list of DataFrames.')

../data\AK_Juneau_0.json added to the list. 1/218 processed...
../data\AK_Juneau_1.json added to the list. 2/218 processed...
../data\AK_Juneau_2.json added to the list. 3/218 processed...
../data\AK_Juneau_3.json added to the list. 4/218 processed...
../data\AK_Juneau_4.json added to the list. 5/218 processed...
../data\AL_Montgomery_0.json added to the list. 6/218 processed...
../data\AL_Montgomery_1.json added to the list. 7/218 processed...
../data\AL_Montgomery_2.json added to the list. 8/218 processed...
../data\AL_Montgomery_3.json added to the list. 9/218 processed...
../data\AL_Montgomery_4.json added to the list. 10/218 processed...
../data\AR_LittleRock_0.json added to the list. 11/218 processed...
../data\AR_LittleRock_1.json added to the list. 12/218 processed...
../data\AR_LittleRock_2.json added to the list. 13/218 processed...
../data\AR_LittleRock_3.json added to the list. 14/218 processed...
../data\AR_LittleRock_4.json added to the list. 15/218 processed...
../data\AZ_Phoenix_0.json added to the list. 16/218 processed...
../data\AZ_Phoenix_1.json added to the list. 17/218 processed...
../data\AZ_Phoenix_2.json added to the list. 18/218 processed...
../data\AZ_Phoenix_3.json added to the list. 19/218 processed...
../data\AZ_Phoenix_4.json added to the list. 20/218 processed...
../data\CA_Sacramento_0.json added to the list. 21/218 processed...
../data\CA_Sacramento_1.json added to the list. 22/218 processed...
../data\CA_Sacramento_2.json added to the list. 23/218 processed...
../data\CA_Sacramento_3.json added to the list. 24/218 processed...
../data\CA_Sacramento_4.json added to the list. 25/218 processed...
../data\CO_Denver_0.json added to the list. 26/218 processed...
../data\CO_Denver_1.json added to the list. 27/218 processed...
../data\CO_Denver_2.json added to the list. 28/218 processed...
../data\CO_Denver_3.json added to the list. 29/218 processed...
../data\CO_Denver_4.json added to the list. 30/218 processed...
../data\CT_Hartford_0.json added to the list. 31/218 processed...
../data\CT_Hartford_1.json added to the list. 32/218 processed...
../data\CT_Hartford_2.json added to the list. 33/218 processed...
../data\CT_Hartford_3.json added to the list. 34/218 processed...
../data\CT_Hartford_4.json added to the list. 35/218 processed...
../data\DE_Dover_0.json added to the list. 36/218 processed...
../data\DE_Dover_1.json added to the list. 37/218 processed...
../data\DE_Dover_2.json added to the list. 38/218 processed...
../data\DE_Dover_3.json added to the list. 39/218 processed...
../data\DE_Dover_4.json added to the list. 40/218 processed...
../data\FL_Tallahassee_0.json added to the list. 41/218 processed...
../data\FL_Tallahassee_1.json added to the list. 42/218 processed...
../data\FL_Tallahassee_2.json added to the list. 43/218 processed...
../data\FL_Tallahassee_3.json added to the list. 44/218 processed...
../data\FL_Tallahassee_4.json added to the list. 45/218 processed...
../data\GA_Atlanta_0.json added to the list. 46/218 processed...
../data\GA_Atlanta_1.json added to the list. 47/218 processed...
../data\GA_Atlanta_2.json added to the list. 48/218 processed...
../data\GA_Atlanta_3.json added to the list. 49/218 processed...
../data\GA_Atlanta_4.json added to the list. 50/218 processed...
../data\HI_Honolulu_0.json added to the list. 51/218 processed...
../data\HI_Honolulu_1.json added to the list. 52/218 processed...
../data\HI_Honolulu_2.json added to the list. 53/218 processed...
../data\IA_DesMoines_0.json added to the list. 54/218 processed...
../data\IA_DesMoines_1.json added to the list. 55/218 processed...
../data\IA_DesMoines_2.json added to the list. 56/218 processed...
../data\IA_DesMoines_3.json added to the list. 57/218 processed...
../data\IA_DesMoines_4.json added to the list. 58/218 processed...
../data\ID_Boise_0.json added to the list. 59/218 processed...
../data\ID_Boise_1.json added to the list. 60/218 processed...
../data\ID_Boise_2.json added to the list. 61/218 processed...
../data\ID_Boise_3.json added to the list. 62/218 processed...
../data\ID_Boise_4.json added to the list. 63/218 processed...
../data\IL_Springfield_0.json added to the list. 64/218 processed...
../data\IL_Springfield_1.json added to the list. 65/218 processed...
../data\IL_Springfield_2.json added to the list. 66/218 processed...
../data\IL_Springfield_3.json added to the list. 67/218 processed...
../data\IL_Springfield_4.json added to the list. 68/218 processed...
../data\IN_Indianapolis_0.json added to the list. 69/218 processed...
../data\IN_Indianapolis_1.json added to the list. 70/218 processed...
../data\IN_Indianapolis_2.json added to the list. 71/218 processed...
../data\IN_Indianapolis_3.json added to the list. 72/218 processed...
../data\IN_Indianapolis_4.json added to the list. 73/218 processed...
../data\KS_Topeka_0.json added to the list. 74/218 processed...
../data\KS_Topeka_1.json added to the list. 75/218 processed...
../data\KS_Topeka_2.json added to the list. 76/218 processed...
../data\KS_Topeka_3.json added to the list. 77/218 processed...
../data\KS_Topeka_4.json added to the list. 78/218 processed...
../data\KY_Frankfort_0.json added to the list. 79/218 processed...
../data\KY_Frankfort_1.json added to the list. 80/218 processed...
../data\KY_Frankfort_2.json added to the list. 81/218 processed...
../data\KY_Frankfort_3.json added to the list. 82/218 processed...
../data\KY_Frankfort_4.json added to the list. 83/218 processed...
../data\LA_BatonRouge_0.json added to the list. 84/218 processed...
../data\LA_BatonRouge_1.json added to the list. 85/218 processed...
../data\LA_BatonRouge_2.json added to the list. 86/218 processed...
../data\LA_BatonRouge_3.json added to the list. 87/218 processed...
../data\LA_BatonRouge_4.json added to the list. 88/218 processed...
../data\MA_Boston_0.json added to the list. 89/218 processed...
../data\MA_Boston_1.json added to the list. 90/218 processed...
../data\MA_Boston_2.json added to the list. 91/218 processed...
../data\MA_Boston_3.json added to the list. 92/218 processed...
../data\MA_Boston_4.json added to the list. 93/218 processed...
../data\MD_Annapolis_0.json added to the list. 94/218 processed...
../data\MD_Annapolis_1.json added to the list. 95/218 processed...
../data\MD_Annapolis_2.json added to the list. 96/218 processed...
../data\MD_Annapolis_3.json added to the list. 97/218 processed...
../data\MD_Annapolis_4.json added to the list. 98/218 processed...
../data\MI_Lansing_0.json added to the list. 99/218 processed...
../data\MI_Lansing_1.json added to the list. 100/218 processed...
../data\MI_Lansing_2.json added to the list. 101/218 processed...
../data\MI_Lansing_3.json added to the list. 102/218 processed...
../data\MI_Lansing_4.json added to the list. 103/218 processed...
../data\MN_St.Paul_0.json added to the list. 104/218 processed...
../data\MN_St.Paul_1.json added to the list. 105/218 processed...
../data\MN_St.Paul_2.json added to the list. 106/218 processed...
../data\MN_St.Paul_3.json added to the list. 107/218 processed...
../data\MN_St.Paul_4.json added to the list. 108/218 processed...
../data\MO_JeffersonCity_0.json added to the list. 109/218 processed...
../data\MO_JeffersonCity_1.json added to the list. 110/218 processed...
../data\MO_JeffersonCity_2.json added to the list. 111/218 processed...
../data\MO_JeffersonCity_3.json added to the list. 112/218 processed...
../data\MO_JeffersonCity_4.json added to the list. 113/218 processed...
../data\MT_Helena_0.json added to the list. 114/218 processed...
../data\MT_Helena_1.json added to the list. 115/218 processed...
../data\MT_Helena_2.json added to the list. 116/218 processed...
../data\MT_Helena_3.json added to the list. 117/218 processed...
../data\MT_Helena_4.json added to the list. 118/218 processed...
../data\NC_Raleigh_0.json added to the list. 119/218 processed...
../data\NC_Raleigh_1.json added to the list. 120/218 processed...
../data\NC_Raleigh_2.json added to the list. 121/218 processed...
../data\NC_Raleigh_3.json added to the list. 122/218 processed...
../data\NC_Raleigh_4.json added to the list. 123/218 processed...
../data\ND_Bismarck_0.json added to the list. 124/218 processed...
../data\ND_Bismarck_1.json added to the list. 125/218 processed...
../data\NE_Lincoln_0.json added to the list. 126/218 processed...
../data\NE_Lincoln_1.json added to the list. 127/218 processed...
../data\NE_Lincoln_2.json added to the list. 128/218 processed...
../data\NE_Lincoln_3.json added to the list. 129/218 processed...
../data\NE_Lincoln_4.json added to the list. 130/218 processed...
../data\NH_Concord_0.json added to the list. 131/218 processed...
../data\NH_Concord_1.json added to the list. 132/218 processed...
../data\NH_Concord_2.json added to the list. 133/218 processed...
../data\NJ_Trenton_0.json added to the list. 134/218 processed...
../data\NJ_Trenton_1.json added to the list. 135/218 processed...
../data\NJ_Trenton_2.json added to the list. 136/218 processed...
../data\NJ_Trenton_3.json added to the list. 137/218 processed...
../data\NJ_Trenton_4.json added to the list. 138/218 processed...
../data\NM_SantaFe_0.json added to the list. 139/218 processed...
../data\NM_SantaFe_1.json added to the list. 140/218 processed...
../data\NM_SantaFe_2.json added to the list. 141/218 processed...
../data\NM_SantaFe_3.json added to the list. 142/218 processed...
../data\NM_SantaFe_4.json added to the list. 143/218 processed...
../data\NV_CarsonCity_0.json added to the list. 144/218 processed...
../data\NV_CarsonCity_1.json added to the list. 145/218 processed...
../data\NV_CarsonCity_2.json added to the list. 146/218 processed...
../data\NV_CarsonCity_3.json added to the list. 147/218 processed...
../data\NV_CarsonCity_4.json added to the list. 148/218 processed...
../data\NY_Albany_0.json added to the list. 149/218 processed...
../data\NY_Albany_1.json added to the list. 150/218 processed...
../data\NY_Albany_2.json added to the list. 151/218 processed...
../data\NY_Albany_3.json added to the list. 152/218 processed...
../data\NY_Albany_4.json added to the list. 153/218 processed...
../data\OH_Columbus_0.json added to the list. 154/218 processed...
../data\OH_Columbus_1.json added to the list. 155/218 processed...
../data\OH_Columbus_2.json added to the list. 156/218 processed...
../data\OH_Columbus_3.json added to the list. 157/218 processed...
../data\OH_Columbus_4.json added to the list. 158/218 processed...
../data\OK_OklahomaCity_0.json added to the list. 159/218 processed...
../data\OK_OklahomaCity_1.json added to the list. 160/218 processed...
../data\OK_OklahomaCity_2.json added to the list. 161/218 processed...
../data\OK_OklahomaCity_3.json added to the list. 162/218 processed...
../data\OK_OklahomaCity_4.json added to the list. 163/218 processed...
../data\OR_Salem_0.json added to the list. 164/218 processed...
../data\OR_Salem_1.json added to the list. 165/218 processed...
../data\OR_Salem_2.json added to the list. 166/218 processed...
../data\OR_Salem_3.json added to the list. 167/218 processed...
../data\OR_Salem_4.json added to the list. 168/218 processed...
../data\PA_Harrisburg_0.json added to the list. 169/218 processed...
../data\PA_Harrisburg_1.json added to the list. 170/218 processed...
../data\PA_Harrisburg_2.json added to the list. 171/218 processed...
../data\PA_Harrisburg_3.json added to the list. 172/218 processed...
../data\PA_Harrisburg_4.json added to the list. 173/218 processed...
../data\RI_Providence_0.json added to the list. 174/218 processed...
../data\RI_Providence_1.json added to the list. 175/218 processed...
../data\RI_Providence_2.json added to the list. 176/218 processed...
../data\RI_Providence_3.json added to the list. 177/218 processed...
../data\RI_Providence_4.json added to the list. 178/218 processed...
../data\SC_Columbia_0.json added to the list. 179/218 processed...
../data\SC_Columbia_1.json added to the list. 180/218 processed...
../data\SC_Columbia_2.json added to the list. 181/218 processed...
../data\SC_Columbia_3.json added to the list. 182/218 processed...
../data\SC_Columbia_4.json added to the list. 183/218 processed...
../data\TN_Nashville_0.json added to the list. 184/218 processed...
../data\TN_Nashville_1.json added to the list. 185/218 processed...
../data\TN_Nashville_2.json added to the list. 186/218 processed...
../data\TN_Nashville_3.json added to the list. 187/218 processed...
../data\TN_Nashville_4.json added to the list. 188/218 processed...
../data\TX_Austin_0.json added to the list. 189/218 processed...
../data\TX_Austin_1.json added to the list. 190/218 processed...
../data\TX_Austin_2.json added to the list. 191/218 processed...
../data\TX_Austin_3.json added to the list. 192/218 processed...
../data\TX_Austin_4.json added to the list. 193/218 processed...
../data\UT_SaltLakeCity_0.json added to the list. 194/218 processed...
../data\UT_SaltLakeCity_1.json added to the list. 195/218 processed...
../data\UT_SaltLakeCity_2.json added to the list. 196/218 processed...
../data\UT_SaltLakeCity_3.json added to the list. 197/218 processed...
../data\UT_SaltLakeCity_4.json added to the list. 198/218 processed...
../data\VA_Richmond_0.json added to the list. 199/218 processed...
../data\VA_Richmond_1.json added to the list. 200/218 processed...
../data\VA_Richmond_2.json added to the list. 201/218 processed...
../data\VA_Richmond_3.json added to the list. 202/218 processed...
../data\VA_Richmond_4.json added to the list. 203/218 processed...
../data\WA_Olympia_0.json added to the list. 204/218 processed...
../data\WA_Olympia_1.json added to the list. 205/218 processed...
../data\WA_Olympia_2.json added to the list. 206/218 processed...
../data\WA_Olympia_3.json added to the list. 207/218 processed...
../data\WA_Olympia_4.json added to the list. 208/218 processed...
../data\WI_Madison_0.json added to the list. 209/218 processed...
../data\WI_Madison_1.json added to the list. 210/218 processed...
../data\WI_Madison_2.json added to the list. 211/218 processed...
../data\WI_Madison_3.json added to the list. 212/218 processed...
../data\WI_Madison_4.json added to the list. 213/218 processed...
../data\WV_Charleston_0.json added to the list. 214/218 processed...
../data\WV_Charleston_1.json added to the list. 215/218 processed...
../data\WV_Charleston_2.json added to the list. 216/218 processed...
../data\WV_Charleston_3.json added to the list. 217/218 processed...
../data\WV_Charleston_4.json added to the list. 218/218 processed...

218 files loaded into the list of DataFrames.

In [90]:
housing_dataset = pd.concat(combine_all, ignore_index=True)

housing_dataset.shape

C:\Users\kadm2\AppData\Local\Temp\ipykernel_28992\3315332010.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  housing_dataset = pd.concat(combine_all, ignore_index=True)

(8159, 67)

#### - Saving outputs...

In [91]:
output_path = '../outputs'

# --- !!! Uncomment only when saving. Run once and put the # back. !!! --- #
# housing_dataset.to_csv(os.path.join(output_path, 'housing_dataset.csv'), index=False)

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

#### - Quick look at the data and the values in them.

In [92]:
data = housing_dataset.copy()

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8159 entries, 0 to 8158
Data columns (total 67 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   last_update_date                       8125 non-null   object
 1   tags                                   7638 non-null   object
 2   permalink                              8159 non-null   object
 3   status                                 8159 non-null   object
 4   list_date                              7752 non-null   object
 5   open_houses                            0 non-null      object
 6   branding                               8159 non-null   object
 7   list_price                             7721 non-null   float64
 8   property_id                            8159 non-null   object
 9   photos                                 7403 non-null   object
 10  community                              0 non-null      object
 11  virtual_tours                          1351 non-null   object
 12  listing_id                             7752 non-null   object
 13  price_reduced_amount                   2484 non-null   float64
 14  matterport                             8159 non-null   bool
 15  primary_photo.href                     7403 non-null   object
 16  source.plan_id                         5 non-null      object
 17  source.agents                          7752 non-null   object
 18  source.spec_id                         5 non-null      object
 19  source.type                            7752 non-null   object
 20  description.year_built                 7316 non-null   float64
 21  description.baths_3qtr                 566 non-null    float64
 22  description.sold_date                  8159 non-null   object
 23  description.sold_price                 6716 non-null   float64
 24  description.baths_full                 7311 non-null   float64
 25  description.name                       0 non-null      object
 26  description.baths_half                 2281 non-null   float64
 27  description.lot_sqft                   6991 non-null   float64
 28  description.sqft                       7323 non-null   float64
 29  description.baths                      7980 non-null   float64
 30  description.sub_type                   1427 non-null   object
 31  description.baths_1qtr                 0 non-null      object
 32  description.garage                     4448 non-null   float64
 33  description.stories                    6260 non-null   float64
 34  description.beds                       7504 non-null   float64
 35  description.type                       8125 non-null   object
 36  lead_attributes.show_contact_an_agent  8159 non-null   bool
 37  flags.is_new_construction              0 non-null      object
 38  flags.is_for_rent                      0 non-null      object
 39  flags.is_subdivision                   0 non-null      object
 40  flags.is_contingent                    0 non-null      object
 41  flags.is_price_reduced                 2484 non-null   object
 42  flags.is_pending                       0 non-null      object
 43  flags.is_foreclosure                   42 non-null     object
 44  flags.is_plan                          0 non-null      object
 45  flags.is_coming_soon                   0 non-null      object
 46  flags.is_new_listing                   7752 non-null   object
 47  products.brand_name                    7673 non-null   object
 48  other_listings.rdc                     7856 non-null   object
 49  location.address.postal_code           8159 non-null   object
 50  location.address.state                 8159 non-null   object
 51  location.address.coordinate.lon        7909 non-null   float64
 52  location.address.coordinate.lat        7909 non-null   float64
 53  location.address.city                  8154 non-null   object
 54  location.address.state_code            8159 non-null   object
 55  location.address.line                  8144 non-null   object
 56  location.street_view_url               8159 non-null   object
 57  location.county.fips_code              7588 non-null   object
 58  location.county.name                   8149 non-null   object
 59  primary_photo                          0 non-null      object
 60  source                                 0 non-null      object
 61  products                               0 non-null      object
 62  location.address.coordinate            0 non-null      object
 63  other_listings                         0 non-null      object
 64  community.advertisers                  5 non-null      object
 65  community.description.name             5 non-null      object
 66  location.county                        0 non-null      float64
dtypes: bool(2), float64(16), object(49)
memory usage: 4.1+ MB

In [94]:
data.describe()

,list_price,price_reduced_amount,description.year_built,description.baths_3qtr,description.sold_price,description.baths_full,description.baths_half,description.lot_sqft,description.sqft,description.baths,description.garage,description.stories,description.beds,location.address.coordinate.lon,location.address.coordinate.lat,location.county
count,7.721000e+03,2.484000e+03,7316.000000,566.000000,6.716000e+03,7311.000000,2281.000000,6.991000e+03,7323.000000,7980.000000,4448.000000,6260.000000,7504.000000,7909.000000,7909.000000,0.0
mean,4.341582e+05,2.442704e+04,1968.916074,1.247350,4.126050e+05,1.887430,1.105655,2.510949e+05,1933.848559,2.131203,1.926709,1.567732,3.208289,-92.206522,39.009689,NaN
std,5.514925e+05,7.162396e+04,35.096914,0.463482,6.994308e+05,0.862214,0.413340,5.823820e+06,1339.039206,1.175940,0.878766,0.730969,1.282732,15.888886,4.374553,NaN
min,1.000000e+00,1.000000e+02,1828.000000,1.000000,3.080000e+02,1.000000,1.000000,0.000000e+00,120.000000,0.000000,1.000000,1.000000,0.000000,-157.810583,21.277707,NaN
25%,2.090000e+05,6.000000e+03,1950.000000,1.000000,1.910000e+05,1.000000,1.000000,4.953000e+03,1258.000000,1.000000,1.000000,1.000000,3.000000,-104.971611,35.688084,NaN
50%,3.250000e+05,1.010000e+04,1975.000000,1.000000,3.140000e+05,2.000000,1.000000,7.841000e+03,1635.000000,2.000000,2.000000,1.000000,3.000000,-89.333131,39.698210,NaN
75%,4.999000e+05,2.000000e+04,1997.000000,1.000000,4.700000e+05,2.000000,1.000000,1.263200e+04,2264.000000,3.000000,2.000000,2.000000,4.000000,-78.617690,41.832266,NaN
max,1.250000e+07,2.015999e+06,2024.000000,3.000000,2.706500e+07,8.000000,5.000000,1.676624e+08,32106.000000,9.000000,11.000000,10.000000,12.000000,-71.006343,58.396178,NaN

In [95]:
# Quick look at the columns and the data in it.
cols = []

for i in housing_dataset.columns:
  col = {'nulls_count': housing_dataset[i].isnull().sum(),
         'col_name': i,
         'col_data_1': housing_dataset[i].head(5).tolist(),
         'col_data_2': housing_dataset[i].tail(5).tolist(),
         'col_dtype': housing_dataset[i].dtype}
  cols.append(col)
  
columns_overview = pd.DataFrame(cols)
columns_overview.head(5)

,nulls_count,col_name,col_data_1,col_data_2,col_dtype
0,34,last_update_date,"[2023-09-19T20:52:50Z, None, None, None, None]","[2023-07-28T17:00:12Z, 2023-07-28T17:10:21Z, 2...",object
1,521,tags,"[[carport, community_outdoor_space, cul_de_sac...","[[central_air, forced_air, basement, two_or_mo...",object
2,0,permalink,"[9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,...",[1008-Oakmont-Rd_Charleston_WV_25314_M45421-27...,object
3,0,status,"[sold, sold, sold, sold, sold]","[sold, sold, sold, sold, sold]",object
4,407,list_date,"[2023-06-29T21:16:25.000000Z, None, None, None...","[2023-04-05T19:28:04Z, 2023-05-28T02:25:28Z, 2...",object

#### - Inspecting columns to work with

In [96]:
# load and concatenate data here
# drop or replace values as necessary

In [97]:
empties = columns_overview[columns_overview['nulls_count'] == data.shape[0]]

empties

,nulls_count,col_name,col_data_1,col_data_2,col_dtype
5,8159,open_houses,"[None, None, None, None, None]","[None, None, None, None, None]",object
10,8159,community,"[None, None, None, None, None]","[None, None, None, None, None]",object
25,8159,description.name,"[None, None, None, None, None]","[None, None, None, None, None]",object
31,8159,description.baths_1qtr,"[None, None, None, None, None]","[None, None, None, None, None]",object
37,8159,flags.is_new_construction,"[None, None, None, None, None]","[None, None, None, None, None]",object
38,8159,flags.is_for_rent,"[None, None, None, None, None]","[None, None, None, None, None]",object
39,8159,flags.is_subdivision,"[None, None, None, None, None]","[None, None, None, None, None]",object
40,8159,flags.is_contingent,"[None, None, None, None, None]","[None, None, None, None, None]",object
42,8159,flags.is_pending,"[None, None, None, None, None]","[None, None, None, None, None]",object
44,8159,flags.is_plan,"[None, None, None, None, None]","[None, None, None, None, None]",object
45,8159,flags.is_coming_soon,"[None, None, None, None, None]","[None, None, None, None, None]",object
59,8159,primary_photo,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
60,8159,source,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
61,8159,products,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
62,8159,location.address.coordinate,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
63,8159,other_listings,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
66,8159,location.county,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",float64

In [98]:
is_empty = [i for i in empties['col_name']]

len(is_empty), is_empty

(17,
 ['open_houses',
  'community',
  'description.name',
  'description.baths_1qtr',
  'flags.is_new_construction',
  'flags.is_for_rent',
  'flags.is_subdivision',
  'flags.is_contingent',
  'flags.is_pending',
  'flags.is_plan',
  'flags.is_coming_soon',
  'primary_photo',
  'source',
  'products',
  'location.address.coordinate',
  'other_listings',
  'location.county'])

In [99]:
# Drop the columns that are empty
data.drop(columns=is_empty, inplace=True)

data.shape[1]

(8159, 50)

In [106]:
# Drop removed columns from columns_overview
columns_overview = columns_overview[~columns_overview['col_name'].isin(is_empty)]

columns_overview.sort_values(by='nulls_count', ascending=False)

,nulls_count,col_name,col_data_1,col_data_2,col_dtype
65,8154,community.description.name,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
16,8154,source.plan_id,"[nan, nan, nan, nan, nan]","[None, None, None, None, None]",object
18,8154,source.spec_id,"[nan, nan, nan, nan, nan]","[None, None, None, None, None]",object
64,8154,community.advertisers,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",object
43,8117,flags.is_foreclosure,"[None, None, None, None, None]","[None, None, None, None, None]",object
21,7593,description.baths_3qtr,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",float64
11,6808,virtual_tours,"[None, None, None, None, None]","[None, None, None, None, None]",object
30,6732,description.sub_type,"[None, None, None, None, None]","[None, None, None, None, None]",object
26,5878,description.baths_half,"[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",float64
41,5675,flags.is_price_reduced,"[False, None, None, None, None]","[None, None, None, None, None]",object
13,5675,price_reduced_amount,"[45000.0, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]",float64
32,3711,description.garage,"[1.0, nan, nan, nan, nan]","[1.0, nan, nan, nan, nan]",float64
33,1899,description.stories,"[nan, nan, nan, nan, nan]","[2.0, nan, nan, nan, nan]",float64
23,1443,description.sold_price,"[nan, nan, nan, nan, nan]","[99000.0, 29700.0, 162250.0, 63800.0, 115500.0]",float64
27,1168,description.lot_sqft,"[10454.0, nan, nan, nan, nan]","[4792.0, 7841.0, 65340.0, nan, 52272.0]",float64
24,848,description.baths_full,"[2.0, nan, nan, nan, nan]","[1.0, 1.0, 1.0, nan, 2.0]",float64
20,843,description.year_built,"[1963.0, nan, nan, nan, nan]","[1910.0, nan, nan, nan, 1950.0]",float64
28,836,description.sqft,"[1821.0, nan, nan, nan, nan]","[1214.0, 988.0, 1470.0, nan, 3858.0]",float64
15,756,primary_photo.href,[https://ap.rdcpix.com/07097d34c98a59ebb799688...,[https://ap.rdcpix.com/b02cba9b2211b1157e67775...,object
9,756,photos,"[[{'tags': [{'label': 'house_view', 'probabili...","[[{'tags': [{'label': 'house_view', 'probabili...",object
34,655,description.beds,"[3.0, nan, nan, nan, nan]","[3.0, 3.0, 3.0, 0.0, 3.0]",float64
57,571,location.county.fips_code,"[None, None, None, None, None]","[54039, 54039, 54039, 54039, 54039]",object
1,521,tags,"[[carport, community_outdoor_space, cul_de_sac...","[[central_air, forced_air, basement, two_or_mo...",object
47,486,products.brand_name,"[basic_opt_in, nan, nan, nan, nan]","[basic_opt_in, basic_opt_in, basic_opt_in, bas...",object
7,438,list_price,"[554950.0, nan, nan, nan, nan]","[98000.0, 49999.0, 133000.0, 75000.0, 112600.0]",float64
19,407,source.type,"[mls, nan, nan, nan, nan]","[mls, mls, mls, mls, mls]",object
17,407,source.agents,[[{'office_name': 'EXP Realty LLC - Southeast ...,"[[{'office_name': None}, {'office_name': None}...",object
12,407,listing_id,"[2957241843, None, None, None, None]","[2954257214, 2956178043, 2951731627, 295386229...",object
46,407,flags.is_new_listing,"[False, None, None, None, None]","[False, False, False, False, False]",object
4,407,list_date,"[2023-06-29T21:16:25.000000Z, None, None, None...","[2023-04-05T19:28:04Z, 2023-05-28T02:25:28Z, 2...",object
48,303,other_listings.rdc,"[[{'listing_id': '2957241843', 'listing_key': ...","[[{'listing_id': '2954257214', 'listing_key': ...",object
52,250,location.address.coordinate.lat,"[58.36395, nan, nan, nan, nan]","[38.341576, 38.377371, 38.338617, 38.363038, 3...",float64
51,250,location.address.coordinate.lon,"[-134.59372, nan, nan, nan, nan]","[-81.644994, -81.661662, -81.659885, -81.64421...",float64
29,179,description.baths,"[2.0, nan, nan, nan, nan]","[1.0, 1.0, 1.0, 0.0, 2.0]",float64
0,34,last_update_date,"[2023-09-19T20:52:50Z, None, None, None, None]","[2023-07-28T17:00:12Z, 2023-07-28T17:10:21Z, 2...",object
35,34,description.type,"[single_family, None, None, None, None]","[single_family, single_family, single_family, ...",object
55,15,location.address.line,"[9453 Herbert Pl, 8477 Thunder Mountain Rd, 45...","[1008 Oakmont Rd, 1041 Temple St, 238 Oakwood ...",object
58,10,location.county.name,"[Juneau, Juneau, Juneau, Juneau, Juneau]","[Kanawha, Kanawha, Kanawha, Kanawha, Kanawha]",object
53,5,location.address.city,"[Juneau, Juneau, Juneau, Juneau, Juneau]","[Charleston, Charleston, Charleston, Charlesto...",object
36,0,lead_attributes.show_contact_an_agent,"[True, True, True, True, True]","[True, True, True, True, True]",bool
6,0,branding,[[{'name': 'EXP Realty LLC - Southeast Alaska'...,[[{'name': 'Joe R. Pyle Complete Auction And R...,object
49,0,location.address.postal_code,"[99801, 99801, 99801, 99801, 99801]","[25314, 25387, 25314, 25302, 25302]",object
50,0,location.address.state,"[Alaska, Alaska, Alaska, Alaska, Alaska]","[West Virginia, West Virginia, West Virginia, ...",object
8,0,property_id,"[9074430767, 9424983842, 9479068516, 987933194...","[4542127284, 3895826397, 4941005485, 430686739...",object
14,0,matterport,"[False, False, False, False, False]","[False, False, False, False, False]",bool
54,0,location.address.state_code,"[AK, AK, AK, AK, AK]","[WV, WV, WV, WV, WV]",object
56,0,location.street_view_url,[https://maps.googleapis.com/maps/api/streetvi...,[https://maps.googleapis.com/maps/api/streetvi...,object
22,0,description.sold_date,"[2023-09-18, 2023-08-22, 2023-08-22, 2023-08-2...","[2023-07-27, 2023-07-27, 2023-07-24, 2023-07-2...",object
2,0,permalink,"[9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,...",[1008-Oakmont-Rd_Charleston_WV_25314_M45421-27...,object
3,0,status,"[sold, sold, sold, sold, sold]","[sold, sold, sold, sold, sold]",object

### Dealing with Tags

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [100]:
# OHE categorical variables/ tags here
# tags will have to be done manually

### Dealing with Cities

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- What we can do is use our training data to encode the mean sale price by city as a feature (a.k.a. Target Encoding)
    - We can do this as long as we ONLY use the training data - we're using the available data to give us a 'starting guess' of the price for each city, without needing to encode city explicitly
- If you replace cities or states with numerical values (like the mean price), make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Note that you *may* have cities in the test set that are not in the training set. You don't want these to be NA, so maybe you can fill them with the overall mean

In [101]:
# perform train test split here
# do something with state and city

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [102]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [103]:
# perform EDA here

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized

In [104]:
processed_path = '../processed'